.video{
  margin: 99px;
  @media (max-width: 991.98px) {
      margin: 34px 52px;
  }
  .heading{
    margin-bottom: 59px;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;

    /* identical to box height */
    text-align: center;

    color: #0A9E62;
    @media (max-width: 991.98px) {
      margin-bottom: 23px;
      font-size: 16px;
      line-height: 24px;
    }

  }
  .video-wrapper{
    border-radius: 20px;
    overflow: hidden;
    video{

      width: 100%;
    }
  }
}
